       
    #hamburguesa {
        display: none;
    }

    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        margin: auto;
        text-align: left;
        max-width: 1250px;
        padding: 0 1.25em;
        background: #CC3300;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        margin-bottom: 0.1em;
        font-size: 1.2em;
    }

    p {
        margin-bottom: 0.5em;
        line-height: 1.3em;
        font-size: 1em;
    }

    h1{
        font-size: 2em;
    }

    input{
        font-size: 1em;
    }

    ul li{
        list-style: none;
        font-size: 1em;
    } 

    #navbar h1{
        color: #CC3300;
        display: block;
        background-image: url(imagenes/logo.png);
        background-repeat: no-repeat;
        width: 100px;
        text-indent: -500px;
        text-align: center;
        margin: 0.3em 0;
    }

    #barra {
        position: static;
        height: auto;
        text-align: right;
        background: none;
    }

    #barra li {
        margin-top: 0.1em;
        width: 100px;
    }

    #barra li a:hover{
        background-color: #a72c03;

    }

    #barra li a{
        padding: 0 1em;
        font-size: 0.9em;
    }
      
    #uno {
        padding: 0em;
        position: relative;
        text-align: center;
    }

    #divtitulo{
        position: absolute;
        top: 57%;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        text-align: left;
        left: 7%;
    }

    #divtitulo{
         animation-duration: 2s;
         animation-name: slidein;
    }

    @keyframes slidein {
    from {
        margin-left: -50%;
        width: 90%
    }

    to {
        margin-left: : 0%;
        width: 90%;
      }
    }

    #divtitulo p{
        width: 37%;
    }

    #divtitulo h2{
        font-size: 1.5em;
        line-height: 1.7em;
    }

    #uno figure {
        position: relative;
        max-width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 3em;
    }

    img {
        max-width: 100%;
    }
    
    .contStyle div{
        width: 25%;
    }

    #contProf{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #contProf div{
        padding: 1em 0;
        width: 25%;
    }

